<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta charset="UTF-8" />
        <title>{% block title %}MyBlog{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{{ asset('materialize/css/materialize.min.css') }}"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

        <link type="text/css" rel="stylesheet" href="{{ asset('css/front.css') }}"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="{{ path('homepage') }}" class="brand-logo">MyBlog</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ path('easyadmin') }}">Admin</a></li>
                </ul>

                <ul id="nav-mobile" class="side-nav">
                    <li><a href="{{ path('easyadmin') }}">Admin</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>
        <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <h1 class="header center orange-text">{% block page_title %}{% endblock %}</h1>
              <div class="row">
                {% block body %}{% endblock %}
              </div>
            </div>
        </div>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="{{ asset('materialize/js/materialize.min.js') }}"></script>
            <script src="{{ asset('js/front.js') }}"></script>
        {% endblock %}
    </body>
</html>
