<ul class="pagination">
    {% if pageCount > 1 and current != first %}
        <li class="first waves-effect">
            <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">
                <i class="material-icons">first_page</i>
            </a>
        </li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">first_page</i></a></li>
    {% endif %}

    {% if previous is defined %}
        <li class="previous waves-effect">
            <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    {% if pageCount > 1 %}
        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page waves-effect">
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="active"><a href="#!">{{ page }}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <li class="active"><a href="#!">1</a></li>
    {% endif %}

    {% if next is defined %}
        <li class="next waves-effect">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}

    {% if last is defined and current != last %}
        <li class="last waves-effect">
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">
                <i class="material-icons">last_page</i>
            </a>
        </li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">last_page</i></a></li>
    {% endif %}
</ul>

